.caracol-container {
    background-color: red;
    width: 630px;
    height: auto;
    /*position:relative;*/
    margin: 50px auto;
}
.caracol {
  /* width: 100%;
  height: 100%; */
//  transform: rotateZ(90deg);
}

/*.a {
	width: calc(130px *3);
	height: calc(130px *3);
	position: absolute;
    top: 130px;
    right: 0px;
    background-color: blue;
    z-index: 999999;
}

.b {
	background-color: yellow;
    width: calc(80px *3);
    height: calc(130px *3);
    top: 260px;
    position: absolute;
}

.c {
	position: absolute;
    background-color: green;
    width: calc(80px *3);
    height: calc(80px *3);
    top: 390px;
    bottom: 0px;
}*/
